version: '3.4'
services:
  bee.dnp.dappnode.eth:
    image: 'bee.dnp.dappnode.eth:0.1.3'
    build:
      context: ./build
      args:
        UPSTREAM_VERSION: v0.3.1
    ports:
      - '7070:7070'
    volumes:
      - 'bee:/home/bee/.bee'
    environment:
      - PASSWORD
      - EXTRA_OPTS
    restart: always
volumes:
  bee: {}
